.inventory-section{
    padding:100px 0;
}

.inventory-layout{
    display:grid;
    grid-template-columns:320px 1fr;
    gap:40px;
}

.filter-box{
    background:linear-gradient(180deg,#101712,#0b100d);
    border-radius:30px;
    padding:30px;
    border:1px solid rgba(255,255,255,.06);
    top:120px;
}

.filter-title{
    font-family:'Oswald',sans-serif;
    font-size:38px;
    margin-bottom:30px;
}


@media(max-width:1250px){
    .inventory-layout{
        grid-template-columns:1fr;
    }
}
