/* =========================================
   TABLE
========================================= */

.admin-table{
    width:100%;

    min-width:0;

    padding:30px;

    border-radius:28px;

    background:
        rgba(255,255,255,.04);

    border:
        1px solid rgba(255,255,255,.05);
}

/* TOP */

.admin-table-top{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;

    margin-bottom:30px;
}

.admin-table-top small{
    display:block;

    margin-bottom:8px;

    color:rgba(255,255,255,.45);

    letter-spacing:1px;
}

.admin-table-top h2{
    font-size:28px;
}

/* SEARCH */

.admin-table-search{
    margin-bottom:5px;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.admin-table-search-form {
    margin-bottom:25px;

}

.admin-table-search input,
.admin-table-search select{
    width:100%;
    max-width:340px;
    height:52px;
    padding:0 18px;
    border:none;
    outline:none;
    border-radius:16px;
    background:
        rgba(255,255,255,.05);
    color:white;
}

/* TABLE */

.admin-table-wrapper{
    width:100%;

    overflow-x:auto;
}

.admin-table table{
    width:100%;

    min-width:900px;

    border-collapse:collapse;
}

.admin-table thead{
    background:
        rgba(255,255,255,.04);
}

.admin-table th{
    padding:18px 20px;

    text-align:left;

    font-size:14px;
    font-weight:600;

    color:rgba(255,255,255,.55);

    white-space:nowrap;
}

.admin-table td{
    padding:22px 20px;

    border-top:
        1px solid rgba(255,255,255,.05);

    white-space:nowrap;
}

td.message {
    max-width: 500px;
    min-width: 300px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.admin-table tbody tr:hover{
    background:
        rgba(255,255,255,.03);
}

/* ACTIONS */

.actions {
    display: flex;
    gap: 10px;
}

.table-actions{
    display:flex;
    align-items:center;
    gap:10px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .admin-table{
        padding:20px;
    }

    .admin-table-top{
        flex-direction:column;
        align-items:flex-start;
    }

    .admin-table-top h2{
        font-size:22px;
    }

}
