/* =========================================
   DASHBOARD
========================================= */

.dashboard-table{
    padding:30px;
    border-radius:28px;
    background: rgba(255,255,255,.04);
    border:1px solid rgba(255,255,255,.05);
}

/* HEAD */

.table-head{
    display:flex;
    align-items:center;
    justify-content:space-between;

    margin-bottom:30px;
}

.table-head small{
    display:block;

    margin-bottom:8px;

    color:rgba(255,255,255,.45);

    letter-spacing:1px;
}

.table-head h2{
    font-size:28px;
    font-weight:700;
}

/* TABLE */

.table-wrapper{
    overflow:auto;
}

table{
    width:100%;

    border-collapse:collapse;
}

thead{
    background:
        rgba(255,255,255,.04);
}

th{
    padding:18px 20px;

    text-align:left;

    font-size:14px;
    font-weight:600;

    color:rgba(255,255,255,.55);
}

td{
    padding:22px 20px;

    border-top:
        1px solid rgba(255,255,255,.05);

    color:rgba(255,255,255,.82);

    font-size:15px;
}

tbody tr{
    transition:.3s;
}

tbody tr:hover{
    background:
        rgba(255,255,255,.03);
}

/* RESPONSIVE */

@media(max-width:768px){

    .dashboard-table{
        padding:20px;
    }

    .table-head h2{
        font-size:22px;
    }

    th,
    td{
        padding:16px;
    }

}
