@import 'layout/header.css';
@import 'layout/footer.css';
@import url('ui/alert.css');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --green:#66ff66;
    --dark:#060b08;
    --card:#0d1410;
    --light:#d9fdd3;
    --gray:#9da79d;
    --border:rgba(255,255,255,.08);
}

body{
    background:#030503;
    color:white;
    font-family:'Inter',sans-serif;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    width:100%;
    display:block;
}

.container{
    width:90%;
    max-width:1400px;
    margin:auto;
}

section {
    padding: 120px 0;
}
